<div class="content details" ng-if="details">
  <div>
    <style ng-if="details.backdrop_path">
      .details__hero {
        background: url({{backdropImg}});
        background-size: cover;
      }
    </style>
    <div class="details__hero row">

      <div class="details-hero__overlay">
        <div class="details__poster-img col-xs-12 col-sm-6">
          <img ng-if="details.poster_path" ng-src="{{posterPath}}" />
          <img ng-if="details.profile_path" ng-src="{{profileImg}}" />
        </div>

        <div class="col-xs-12 col-sm-6 pull-right hidden-xs">
          <div class="details__more-info">
            <h1>{{title}}</h1>
          </div>
          <div class="details__more-info" ng-if="details.type != 'person'">
            <div>
              <h3 class="info__tagline" ng-if="details.tagline">"{{details.tagline}}"</h3>
              <dl class="details__summary-list dl-horizontal">
                <div ng-repeat="item in summaryListItems" class="summary-list__row" ng-class="item.name">
                  <dt class="summary-list__term">{{item.label}}</dt>
                  <dd class="summary-list__desc">{{item.value}}</dd>
                </div>
              </dl>
            </div>
          </div>
          <div class="details__more-info" ng-if="details.type == 'person'">
            <div>
              <dl class="details__summary-list dl-horizontal">
                <div ng-repeat="item in summaryListItems" class="summary-list__row" ng-class="item.name">
                  <dt class="summary-list__term">{{item.label}}</dt>
                  <dd class="summary-list__desc">{{item.value}}</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="details__heading visible-xs row" ng-if="details.type != 'person'">
      <div class="col-xs-12">
        <h1>{{title}}</h1>
        <h3 class="info__tagline" ng-if="details.tagline">"{{details.tagline}}"</h3>
        <dl class="details__summary-list dl-horizontal">
          <div ng-repeat="item in summaryListItems" class="summary-list__row" ng-class="item.name">
            <dt class="summary-list__term">{{item.label}}</dt>
            <dd class="summary-list__desc">{{item.value}}</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

  <div class="row" ng-if="summary">
    <div class="col-xs-12">
      <h3>Summary</h3>
      <p>
        {{summary}}
      </p>
    </div>
  </div>

  <div ng-if="details.type != 'person'">
    <div class="person-movies">
      <h3>Cast</h3>
      <div ng-if="!creditCastData">
        <p>No cast information.</p>
      </div>
      <div class="person-movies__list" ng-if="creditCastData">
        <div class="person-movies__item" ng-repeat="cast in creditCastData">
          <div class="person-movies__img-wrapper">
            <img ng-src="{{posterImg92 + cast.profile_path}}" ng-if="cast.profile_path" />
            <div class="person-movies__placeholder" ng-if="!cast.profile_path">
            </div>
          </div>
          <div class="person-movies__details">
            <div class="person-movies__title">
              {{cast.name}}
            </div>
            <div class="person-movies__character">
              {{cast.character}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="person-movies">
      <h3>Crew</h3>
      <div ng-if="!creditCrewData">
        <p>No crew information.</p>
      </div>
      <div class="person-movies__list" ng-if="creditCrewData">
        <div class="person-movies__item" ng-repeat="crew in creditCrewData">
          <div class="person-movies__img-wrapper">
            <img ng-src="{{posterImg92 + crew.profile_path}}" ng-if="crew.profile_path" />
            <div class="person-movies__placeholder" ng-if="!crew.profile_path"></div>
          </div>
          <div class="person-movies__details">
            <div class="person-movies__title">
              {{crew.name}}
            </div>
            <div class="person-movies__character">
              {{crew.job}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="person-movies">
      <h3>Similar</h3>
      <div ng-if="!similarData">
        <p>No similar information.</p>
      </div>
      <div class="person-movies__list" ng-if="similarData">
        <div class="person-movies__item" ng-repeat="item in similarData">
          <div class="person-movies__img-wrapper">
            <img ng-src="{{posterImg92 + item.poster_path}}" ng-if="item.poster_path" />
            <div class="person-movies__placeholder" ng-if="!item.poster_path"></div>
          </div>
          <div class="person-movies__details">
            <div class="person-movies__title">
              {{item.name || item.title}}
            </div>
            <div class="person-movies__character">
              {{(item.first_air_date || item.release_date) | date:'yyyy'}}
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div ng-if="details.type == 'person'">
    <div class="person-movies">
      <h3>Movies</h3>
      <div ng-if="!personMovies">
        <p>No movie information.</p>
      </div>
      <div class="person-movies__list" ng-if="personMovies">
        <div class="person-movies__item" ng-repeat="movie in personMovies">
          <div class="person-movies__img-wrapper">
            <img ng-src="{{posterImg92 + movie.poster_path}}" ng-if="movie.poster_path" />
            <div class="person-movies__placeholder" ng-if="!movie.poster_path">
            </div>
          </div>
          <div class="person-movies__details">
            <div class="person-movies__title">
              {{movie.original_title}}
            </div>
            <div class="person-movies__character">
              {{movie.character}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="person-movies">
      <h3>TV</h3>
      <div ng-if="!personTV">
        <p>No tv show information.</p>
      </div>
      <div class="person-movies__list" ng-if="personTV">
        <div class="person-movies__item" ng-repeat="tv in personTV">
          <div class="person-movies__img-wrapper">
            <img ng-src="{{posterImg92 + tv.poster_path}}" ng-if="tv.poster_path" />
            <div class="person-movies__placeholder" ng-if="!tv.poster_path">
            </div>
          </div>
          <div class="person-movies__details">
            <div class="person-movies__title">
              {{tv.name}}
            </div>
            <div class="person-movies__character">
              {{tv.character}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
